.shopping-cart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #dbdbdb;
  border-radius: 10px;
}

h2, .cost-label, .cost-value {
  color: #505050;
}

.item {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid rgb(95, 95, 95);
  padding: 10px;
}

.image {
  flex-grow: 1;
  max-width: 220px;
  align-self: flex-start;
  margin-bottom: 0;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 50px;
  width: max-content;
}

.details h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.details h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  width: 400px;
}

.details p {
  margin: 0;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.details span {
  display: block;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.details select {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 0.675em 6em 0.675em 1em;
  font-size: 15px;
  background-color: #fff;
  border: 1px solid #caced1;
  color: #000;
  margin: 5px;
}

.details select option {
  background-color: #f9f9f9;
  color: #333;
}

.details select option:hover {
  background-color: #e0e0e0;
}

.quantity-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 5px;
  font-size: 15px;
  background-color: #fff;
  border: 1px solid #caced1;
  color: #000;
  margin: 5px;
}

.decrease-qty,
.increase-qty {
  background-color: #282828;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 5px;
}

.decrease-qty:hover,
.increase-qty:hover {
  opacity: 0.8;
}

.total-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid rgb(95, 95, 95);
}

.total-items.items-count {
  font-size: 18px;
  color: #333;
}

.total-cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.total-cost.cost-label {
  font-size: 18px;
  color: #000;
}

.total-cost.cost-value {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.clear-cart-btn {
  order: 1;
  margin-top: 10px;
  background-color: #ff5e52;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid rgb(95, 95, 95);
}

.clear-cart-btn:hover {
  background-color: #d32f2f;
}
h3 {
  color: #000;
}
