[mysqld]

performance_schema = 0

max_connections=3

innodb_buffer_pool_size = 8M


join_buffer_size = 2M
sort_buffer_size = 2M
read_rnd_buffer_size = 2M
read_buffer_size = 2M
key_buffer_size = 2M
tmp_table_size = 2M
table_open_cache = 5
max_allowed_packet = 8M

host_cache_size=0
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

pid-file=/var/run/mysqld/mysqld.pid
[client]
socket=/var/run/mysqld/mysqld.sock

!includedir /etc/mysql/conf.d/
