<link type="text/css" href="/static/css/catalog.css" rel="stylesheet">

<div class="product-item">
    <img src="/static/img/14101.30_46_500.jpg">
    <div class="product-list">
        <h3>Худи</h3>
        <span class="price">₽ 1999</span>
        <a href="" class="button">В корзину</a>
    </div>
</div>
<div class="product-item">
    <img src="/static/img/14101.30_46_500.jpg">
    <div class="product-list">
        <h3>Худи</h3>
        <span class="price">₽ 1999</span>
        <a href="" class="button">В корзину</a>
    </div>
</div>
<div class="product-item">
    <img src="/static/img/14101.30_46_500.jpg">
    <div class="product-list">
        <h3>Худи</h3>
        <span class="price">₽ 1999</span>
        <a href="" class="button">В корзину</a>
    </div>
</div>
<div class="product-item">
    <img src="/static/img/14101.30_46_500.jpg">
    <div class="product-list">
        <h3>Худи</h3>
        <span class="price">₽ 1999</span>
        <a href="" class="button">В корзину</a>
    </div>
</div>
<div class="product-item">
    <img src="/static/img/14101.30_46_500.jpg">
    <div class="product-list">
        <h3>Худи</h3>
        <span class="price">₽ 1999</span>
        <a href="" class="button">В корзину</a>
    </div>
</div>
<div class="product-item">
    <img src="/static/img/14101.30_46_500.jpg">
    <div class="product-list">
        <h3>Худи</h3>
        <span class="price">₽ 1999</span>
        <a href="" class="button">В корзину</a>
    </div>
</div>