<link type="text/css" href="/static/css/catalog.css" rel="stylesheet">

<div class="custom-select-wrapper">
    <input type="text" class="search-input" placeholder="Искать здесь...           🔍︎">
</div> <br>

{% for product in products %}
    <div class="product-item">
        <img src="{{ product.image }}">
        <div class="product-list">
            <h3>{{ product.name }}</h3>
            <span class="price">₽ {{ product.cost }}</span>
            <button class="button" id="{{ product.id }}" onclick="addToCart({{ product.id }})">В корзину</button>
        </div>
    </div>
{% endfor %}
