<link rel="stylesheet" href="/static/css/home.css">
<div class="categories-container">
    <div class="left-category">
        <div class="category-card"><img src="https://podwal.ru/upload/iblock/a50/shtany_outdoor_quickdry_surplus_black_p128_1.jpg" alt="Штанишки">
                <h3>Штанишки</h3>
        </div>
    </div>
    <div class="right-categories">
        <div class="category-table">
            <div class="category-card"><img src="/static/img/14101.30_46_500.jpg" alt="Худи">
            <h3>Худи</h3>
            </div>
            <div class="category-card"><img src="https://storage.vsemayki.ru/images/0/3/3572/3572311/previews/people_7_manshort_front_black_250.jpg" alt="Футболочки">
                <h3>Футболочки</h3>
            </div>
        </div>
        <div class="category-table">
            <div class="category-card"><img src="https://www.grungejohn.com/upload/iblock/d0a/d0a29bf257993e8b135c3d567322563b.jpg" alt="Верхняя одежда">
                <h3>Верхняя одежда</h3>
            </div>
            <div class="category-card"><img src="https://i5.walmartimages.com/seo/9Pcs-Gothic-Grunge-Necklace-Set-Goth-Punk-Rock-Vintage-Harajuku-Silver-Chain-Jewelry-Accessories-Cross-Saturn-Thorns-Angel-Heart-Wing-Choker-Women_650816c6-1b29-4d3e-bc6c-190798da2e9f.e052eee84aadfe32dbf0c93cef3cbf2d.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF" alt="Аксессуары">
                <h3>Аксессуары</h3>
            </div>
        </div>
    </div>
</div>
</section>
<section class="about-us">
    <h2>О нас</h2>
    <p>Мы - надежный интернет-магазин, специализирующийся на продаже качественной и оригинальной одежды. С 2015 года мы предлагаем нашим клиентам лучшие бренды по доступным ценам.</p>
    <p>Наша миссия - сделать покупки удобными и интересными для каждого клиента, предоставляя широкий выбор товаров и гарантию качества.
         Мы стремимся к тому, чтобы каждый наш клиент чувствовал себя уверенно и довольствованно после совершения покупки.</p>
    <p>За годы работы мы смогли завоевать доверие тысячи клиентов по всей России благодаря высокому уровню сервиса, индивидуальному подходу к каждому заказу и постоянному развитию.
         Наши достижения подтверждают нашу компетенцию и желание быть лидером на рынке.</p>
    <p>Сотрудничайте с нами, чтобы получить все преимущества современного интернет-магазина!</p>
</section>
