<link rel="stylesheet" href="/static/css/home.css">

<div class="categories-container">
    <div class="left-category">
        <div class="category-card">
            <img src="/static/img/pants.jpg">
            <h3>Штанишки</h3>
        </div>
        <div class="category-card">
            <img src="/static/img/socks.jpg">
            <h3>Носочки</h3>
        </div>
    </div>
    <div class="center-categories">
        <div class="category-card">
            <img src="/static/img/hoodie.jpg">
            <h3>Худи</h3>
        </div>
        <div class="category-card">
            <img src="/static/img/shirt.jpg">
            <h3>Футболочки</h3>
        </div>
    </div>

    <div class="right-categories">
        <div class="category-card">
            <img src="/static/img/jacket.jpg">
            <h3>Верхняя одежда</h3>
        </div>
        <div class="category-card">
            <img src="/static/img/accessories.jpg">
            <h3>Аксессуары</h3>
        </div>
    </div>
</div>
</div>

<section class="about-us">
    <h2>О нас</h2>
    <p>Мы - надежный интернет-магазин, специализирующийся на продаже качественной и оригинальной одежды. С 2015 года мы
        предлагаем нашим клиентам лучшие бренды по доступным ценам.</p>
    <p>Наша миссия - сделать покупки удобными и интересными для каждого клиента, предоставляя широкий выбор товаров и
        гарантию качества.
        Мы стремимся к тому, чтобы каждый наш клиент чувствовал себя уверенно и довольствованно после совершения
        покупки.</p>
    <p>За годы работы мы смогли завоевать доверие тысячи клиентов по всей России благодаря высокому уровню сервиса,
        индивидуальному подходу к каждому заказу и постоянному развитию.
        Наши достижения подтверждают нашу компетенцию и желание быть лидером на рынке.</p>
    <p>Сотрудничайте с нами, чтобы получить все преимущества современного интернет-магазина!</p>
</section>
