<link rel="stylesheet" href="static/css/product.css">
<main>
    <section class="container">
        <div class="product-image">
            <img src="https://files.gifts.ru/reviewer/tb/92/14101.30_46_500.jpg" alt="Худи">
        </div>
        <div class="product-info">
            <div class="info-text">
                <h3>Худи</h3>
                <p>Доступные размеры: XS, S, M, L, XL, XXL, XXXL</p>
                <p>Материал: Хлопок</p>
            </div>
        </div>
    </section>
</main>